@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  background-color: #2f4856f2;
}

.landing {
  height: 100vh;
  background-image: url("../src/img/beacon.jpeg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing h1 {
  margin-bottom: 5px;
  font-size: 2rem;
}

.landing p {
  font-style: italic;
}

.landing form {
  text-align: left;
}

.landing input {
  display: block;
  height: 20px;
  width: 100%;
  margin: 5px 0 5px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #414040;
  color: #ffffff;
}

.landing h5 {
  text-align: center;
  color: #bb0d24;
  margin: 5px 0 5px 0;
}

.landing h5::before {
  display: inline;
  content: "⚠ ";
}

.landing-box {
  position: fixed;
  left: 50%;
  top: 39%;
  transform: translate(-50%, -50%);

  padding: 50px;
  border-radius: 25px;
  border: 1.5px solid black;
  background-color: rgb(37, 159, 168);
  opacity: 0.9;

  text-align: center;
  color: #ffffff;
}

.landing-box button {
  display: block;
  width: 100%;
  margin: 5px auto;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgb(228, 77, 58);
  color: #ffffff;
}

.landing-box button:hover {
  background-color: #c4af53;
  color: #ffffff;
}

.landing-box img {
  margin-top: 20px;
  margin-bottom: 10px;
  height: 100px;
  width: auto;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}

.container {
  margin: 20px auto;
  width: 90%;
}

.container ul {
  list-style-type: none;
}

.row {
  display: flex;
  flex-direction: row;
}

#bio-block {
  flex: 33%;
  padding: 15px;
}

#main-block {
  flex: 66%;
  padding: 15px;
  text-align: center;
}

#nav-container {
  background-color: #e44d3a;
  min-width: 400px;
}

ul.topnav {
  list-style-type: none;
  overflow: hidden;
  top: 0;
  width: 90%;
  margin: auto;
}

ul.topnav li {
  float: left;
}

ul.topnav li i {
  margin: 4px;
}

ul.topnav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

ul.topnav li.right {
  float: right;
}

.card-segment-horizontal {
  border: solid lightgrey;
  border-width: 0.5px 0 0 0;
  padding: 10px;
}

.card-segment-horizontal h3 {
  font-weight: 900;
  margin-bottom: 10px;
}

.card-segment-horizontal p {
  font-weight: 300;
}

#edit-profile-link {
  color: #e44d3a;
  text-decoration: none;
  font-weight: 900;
  padding: 10px;
}

#edit-profile-image {
  width: 75%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 10px 0 15px 0;
}

.edit-profile-group {
  margin: 5px 15px 30px 15px;
}

.edit-profile-group h2 {
  display: inline;
  margin: 0 10px 40px 0;
}

.edit-profile-group span {
  font-weight: 900;
  line-height: 15px;
  font-size: 1.2rem;
  margin-bottom: 2px;
}

#update-button {
  padding: 10px;
  border-radius: 4px;
  background-color: teal;
  width: 100%;
}

#edit-profile-form {
  margin: auto;
  text-align: left;
  background-color: #fff;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 20px;
  max-width: 450px;
  min-width: 400px;
}

#edit-profile-form h3 {
  font-size: 25px;
  font-weight: 900;
  margin: 15px 15px 0 15px;
}

.text-input {
  border: 1.5px solid grey;
  border-radius: 5px;
  height: 20px;
  width: 100%;
  padding: 15px 10px;
  margin: 10px 0;
}

#image-upload-group {
  margin: 15px 15px 20px 15px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

#image-upload-group input {
  font-size: 15px;
  border-radius: 4px;
  margin: auto;
}

/* Designer credit: https://dribbble.com/shots/1978243-Latest-News */
.app-card-list {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.app-card-list::-webkit-scrollbar {
  display: none;
}

.card {
  margin: 5px 10px;
  display: inline-block;
  max-width: 25%;
  min-width: 300px;
  background-color: #fff;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.light-text {
  color: #888787;
  font-size: small;
  margin: 0 0 10px 0;
}

.unassigned-text {
  color: #31a561;
  font-size: small;
}

.body-content {
  margin: 10px 0 25px 0;
}

.card-header {
  max-width: 100%;
  height: 100%;
}
.card-header img {
  width: 100%;
  height: 25vw;
  object-fit: cover;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-body {
  margin: 0 15px 15px 10px;
  padding: 10px;
}

.card-body button {
  background-color: #e44d3a;
  color: #fff;
  padding: 10px;
  border: 1.5px solid black;
  border-radius: 5px;
}

.card-body button:hover {
  background-color: rgb(70, 101, 104);
}

.card-body button:active {
  background-color: #544daf;
}

.designer-link {
  display: inline-block;
  padding-top: 40px;
}

@media (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }

  .row {
    display: block;
  }

  #update-button {
    width: 100%;
    margin: 10px 0 25px 0;
    float: center;
  }

  .app-card-list {
    flex-direction: column;
  }

  .card {
    max-width: 60%;
    min-height: fit-content;
  }
}

@media (max-width: 778px) {
  .card-header img {
    height: 200px;
  }
}
